body {
    background-color: black;
    color: white;
    padding: 10vw;
    display: flex;
    flex-direction: column;
}

.content {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

p {
    font-size: 1.25rem;
}

.centerP {
    text-align: center;
    padding: 10vh 0;
}

.centerP h1 {
    font-size: 5rem;
    margin-top: 0;
}

.centerP h2 {
    font-size: 3rem;
    font-weight: lighter;
    color: black;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}

.leftP {
    text-align: left;
    padding: 10vh 0;
}

.centertext {
    text-align: center;
}

.single_pendulum {
    width: 500px;
    height: 500px;
    align-self: center;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.double_pendulum {
    width: 500px;
    height: 500px;
    align-self: center;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerimg {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.centerimg img {
    width: 17vw;
    height: 17vw;
}

.space {
    height: 15vh;
}